html {
  overflow-y: scroll;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

.bold {
  font-weight: bold;
}

h3 {
  margin-top: 0px;
}

.red-text {
  color: red;
}

.center-text {
  text-align: center;
}
